/* Yanni Jewelry style sheet*/ 
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700&display=swap&subset=latin-ext');

@media (max-width: 320px) {
  h1#logo {
  margin-left: 5px;
  margin-top: 10px;
  font-family: 'Cinzel', serif;
  font-size: 1.6em;
  font-weight: normal;
  }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

body {
  height:auto;
  width: auto;
  background-color: white;
}

#navigation {
  background-color: white;
  z-index: 1;
  font-family: 'Cinzel', serif;
}


#logo {
  margin: 10px 10px 10px 10px;
  font-family: 'Cinzel', serif;
  font-size: 2em;
  font-weight: 400;
}

#etsy-id, #insta-id, #facebook-id {
  padding: 25px;
  font-size: 1.1em;
  font-weight: bolder;
  text-decoration: none;
  color: black;
  margin: 0;
  letter-spacing: .05em;
  -webkit-transition: background .3s;
  transition: background .3s;
  z-index: 1;
}

#collap-menu #etsy-id:hover {
  background: red;
}

#collap-menu #facebook-id:hover {
  background: blue;
}

#collap-menu #insta-id:hover{ 
  background: orange;
}



/* Everything below is underneath the carousel */


#container-contents {
  margin-top: 10px;
}


#about-contents {
  padding: 5px;
  text-align: center;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  
}

#about-contents2 {
  padding: 5px;
  text-align: center;
  background-color: rgba(135, 206, 235);
  font-family: 'Roboto', sans-serif;
  border-right: 1px white;
  
}

#about-contents22 {
  padding: 5px;
  text-align: center;
  background-color:#48b4e0;
  font-family: 'Roboto', sans-serif;
  border-left: 1px white;
  
}

#header-text {
  font-family: 'Cinzel', sans-serif;
  padding: 10px;
  font-size: 36px;
  font-weight: 500;
}

#header-text:after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 50%;
  max-width: 50%;
  padding-top: 3px;
  border-bottom: 1px solid black;
}

#p-text {
  padding: 3px;
  font-size: 18px;
  letter-spacing: .01em;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  line-height: 1.6;
}



/*Button stylings below*/

#white-btn {
  font-family: 'Verdana', sans-serif;
  
  font-weight: 600;
  
  color: black;
  font-size: 14px;
}

#white-btn:hover {
  opacity: 50%;
}

#neck_carousel {
  width: 85%;
}
